*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: hsla(0, 0%, 100%, 0.1);
    border-radius: 8px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: hsla(0, 0%, 0%, 0.3);
    border-radius: 8px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: hsla(0, 0%, 0%, 0.4);
}

html,
body {
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    position: relative;
    min-height: 100%;
    background: #232323;
    background: url("https://source.unsplash.com/1920x1080/?india") no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
body::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: -1;
}

a {
    color: inherit;
    text-decoration: none;
}
button {
    cursor: pointer;
}

img {
    display: block;
    max-width: 100%;
    object-fit: cover;
}

.scroll-top {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 1rem 1rem 1.5rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    background: #121212;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 999px;
}

#___gcse_0 form.gsc-search-box {
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.15);
    width: 100%;
    height: 50px;
    margin: 0 0 2% 0;
    padding: 4px 16px;
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(20px);
    border-radius: 999px;
}

#___gcse_0 table.gsc-search-box {
    margin: 0 !important;
}

div.gsc-input-box {
    border: none;
    background: transparent;
}

table.gsc-search-box td.gsc-input {
    padding-right: 0 !important;
}

input.gsc-input {
    background: transparent;
    color: inherit;
    font-size: 1rem;
    background: transparent !important;
    /* background-repeat: no-repeat; */
}

/* input.gsc-input:empty {
    background: url("../assets/Search.png") left center no-repeat !important;
} */

/* input.gsc-input:not(:empty) {
    background: transparent !important;
} */

.gsc-control-cse {
    background-color: transparent !important;
    border: none !important;
    padding-left: 0.25rem !important;
    padding-right: 0.25rem !important;
}

.gsc-results-wrapper-visible {
    background-color: hsla(0, 0%, 100%, 0.6) !important;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 60px rgba(0, 0, 0, 0.15);
    max-height: 50vh;
    min-height: 450px;
    border-radius: 2px;
    overflow-y: auto;
    border-radius: 8px;
}

.gsib_b {
    position: absolute;
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    opacity: 0;
    z-index: -1;
}

.gsc-search-button-v2 {
    background: transparent !important;
    width: 32px !important;
    height: 32px !important;
    padding: 0 !important;
    border: none !important;
}

.gsc-search-button-v2 svg {
    width: 18px;
    height: 18px;
}

.gsc-above-wrapper-area,
.gsc-cursor-box {
    background-color: hsla(0, 0%, 100%, 0.25);
}

.gsc-above-wrapper-area,
.gsc-cursor-box,
.gcsc-more-maybe-branding-root {
    padding: 8px 8px !important;
}

.gsc-result-info {
    padding: 4px !important;
}

.gsc-results {
    background-color: transparent !important;
}

.gsc-adBlock {
    height: 0 !important;
    opacity: 0;
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
    border-bottom: none !important;
    z-index: -1;
}

.gsc-above-wrapper-area {
    border: none !important;
}

.gsc-webResult.gsc-result {
    background: transparent !important;
    border: none !important;
    padding: 1rem !important;
}

.gsc-webResult.gsc-result:hover {
    background: hsla(0, 0%, 100%, 0.6) !important;
}

.gsc-cursor-page {
    cursor: pointer !important;
    background: transparent !important;
}
