.logo {
    display: block;
    width: 80%;
    max-width: 500px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    padding-top: 3rem;
    padding-bottom: 3rem;
}
.gcse {
    width: 98%;
    max-width: 750px;
    margin-inline: auto;
    color: #fff;
    min-height: 40vh;
}
